*{
    padding: 0;
    margin: 0;
}
#clock{
    color: #fff;
    background-color: #f78620;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.person-item{
    padding: 0px;
    border: 1px solid #f78620;
    color: #f78620;
}

.person-item h2{
    font-weight: bold;
}

.time{
    margin-top: 70px;
}

.person-time{
    background-color: #f78620;
    color: white;
    padding: 10px;
}

.people-counter{
    color: white;
    background-color: #f78620;
    border: 1px solid #f78620;
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
}

#proiz{
    margin-right: 50px;
}